@page "/locate"

<h1>Locate Triangle By Vertices</h1>
<p>Given the vertex coordinates, calculate the row and column for the Triangle</p>

<img src="/images/coordinates.jpg" alt="Triangularious!" />
<br /><br />

<EditForm Model="@inputShape" OnValidSubmit="AddTriangle">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="v1x">v1x</label>
        <InputNumber id="v1x" @bind-Value="inputShape.v1x" />
        <br /><label for="v1y">v1y</label>
        <InputNumber id="v1y" @bind-Value="inputShape.v1y" />
    </div>
    <div class="form-group">
        <label for="v2x">v2x</label>
        <InputNumber id="v2x" @bind-Value="inputShape.v2x" />
        <br /><label for="v2y">v2y</label>
        <InputNumber id="v2y" @bind-Value="inputShape.v2y" />
    </div>
    <div class="form-group">
    <label for="v3x">v3x</label>
    <InputNumber id="v3x" @bind-Value="inputShape.v3x" />
    <br /><label for="v3y">v3y</label>
    <InputNumber id="v3y" @bind-Value="inputShape.v3y" />
    </div>
    <button class="btn-primary" type="submit">Locate!</button>
</EditForm>
<br /><br />

<ul>
    @foreach (var shape in searchedElements)
    {
        <li>The coordinates @shape.Triangle.Vertex1, @shape.Triangle.Vertex2, @shape.Triangle.Vertex3 would be @shape.Location</li>
    }
</ul>

@code{     
    public Triangularity.Models.Image Image { get; set; }
    private ViewTriangle inputShape = new ViewTriangle();
    private List<ViewTriangle> searchedElements = new List<ViewTriangle>();

    protected override void OnInitialized()
    {
        Image = new Triangularity.Models.Image();
    }

    private void AddTriangle()
    {
        try
        {
            inputShape.Location = Image.GetLocationByVertices(inputShape.v1x, inputShape.v1y, inputShape.v2x, inputShape.v2y, inputShape.v3x, inputShape.v3y);
            inputShape.Triangle = new Models.Triangle(inputShape.v1x, inputShape.v1y, inputShape.v2x, inputShape.v2y, inputShape.v3x, inputShape.v3y);
            searchedElements.Add(new ViewTriangle(inputShape.Triangle, inputShape.Location));
        }
        catch
        {
            //Do something brilliant
        }
    }

    public class ViewTriangle
    {
        public Triangularity.Models.Triangle Triangle { get; set; }

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 60, ErrorMessage = "Coordinate invalid for image size.")]
        public int v1x { get; set; } = 50;

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 60, ErrorMessage = "Coordinate invalid for image size.")]
        public int v1y { get; set; } = 20;

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 60, ErrorMessage = "Coordinate invalid for image size.")]
        public int v2x { get; set; } = 40;

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 60, ErrorMessage = "Coordinate invalid for image size.")]
        public int v2y { get; set; } = 20;

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 60, ErrorMessage = "Coordinate invalid for image size.")]
        public int v3x { get; set; } = 50;

        [System.ComponentModel.DataAnnotations.Required]
        [System.ComponentModel.DataAnnotations.Range(1, 60, ErrorMessage = "Coordinate invalid for image size.")]
        public int v3y { get; set; } = 30;

        public string Location { get; set; }

        public ViewTriangle() { }

        public ViewTriangle(Triangularity.Models.Triangle inTriangle, string inLocation)
        {
            Triangle = inTriangle;
            Location = inLocation;
        }
    }
}

